<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
      <services>
        <service name="StocksApplication.Web.StocksService" behaviorConfiguration="StocksApplication.Web.StocksServiceBehavior">
          <!-- Service Endpoints -->
          <!--<endpoint address="" binding="wsHttpBinding" contract="MyService.TestService">-->
          <endpoint name="rest" address="" binding="webHttpBinding" contract="StocksApplication.Web.StocksService" behaviorConfiguration="restBehavior"/>
          <endpoint name="mex" address="mex" binding="mexHttpBinding" contract="StocksApplication.Web.StocksService"/>
          <endpoint name="soap" address="soap" binding="basicHttpBinding" contract="StocksApplication.Web.StocksService"/>
        </service>
      </services>
      <behaviors>
            <serviceBehaviors>
                <behavior name="StocksApplication.Web.StocksServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
            <endpointBehaviors>
              <behavior name="restBehavior">
                <webHttp/>
              </behavior>
            </endpointBehaviors>
        </behaviors>
        <!--<diagnostics wmiProviderEnabled="true">
          <messageLogging
                logEntireMessage="true"
                logMalformedMessages="true"
                logMessagesAtServiceLevel="true"
                logMessagesAtTransportLevel="true"
                maxMessagesToLog="3000"
            />
        </diagnostics>-->
      <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
    <system.diagnostics>
      <sources>
        <!--switchValue="Information, Warning, Error, ActivityTracing"-->
        <source name="System.ServiceModel" switchValue="Warning, Error"  propagateActivity="true">
          <listeners>
            <add name="xml" />
          </listeners>
        </source>
        <source name="System.ServiceModel.MessageLogging" switchValue="Warning, Error">
          <listeners>
            <add name="xml"/>
          </listeners>
        </source>
      </sources>
      <sharedListeners>
        <!--<add name="eventLog"
            type="System.Diagnostics.EventLogTraceListener"
            initializeData="MyEventLog" />-->
        <add name="xml"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="c:\StocksTraces.svclog" />
      </sharedListeners>
      <trace autoflush="true" />
    </system.diagnostics>

</configuration>
